li{
    margin-bottom: 10px;
}
li>small{
    margin-left: 20px;
}
.line{
   width: 20px !important;
}
.marker{
    height: 25px !important;
}
/*  Smartphones Potrait*/
@media only screen and (max-width: 699px) and (max-height: 1024px) and (orientation:portrait){ 
    .listSymbols{
        display: none;
        visibility: hidden;
    }
    .symbolsContainer{
        height: auto !important;
        width: 80% !important;
        float: center;
        margin-left: 10% !important;
        margin-right: 10% !important;
    } 
    .symbolsMobileV{text-align: center !important;}
    .markerLocation{
        text-decoration: none !important;
        list-style: none !important;
        text-align: center !important;
    }
}
/* Desktop */
@media only screen and (min-width: 961px) and (orientation:landscape){
   .symbolsMobileV{
       visibility: hidden;
       display: none;
   }
   .markerLocation{
       visibility: hidden;
       display: none;
   }
    .symbolsContainer{
        margin: 5%;
        height: 35vh !important;
        width: auto !important;
    } 
    .listSymbols{
        margin-left: 10%;
    }
}
/* iPads Landscape*/
@media only screen and (min-width: 768px) and (max-width:1024px) and (max-height:1024px)  and (min-height: 768px) and (orientation:landscape) {
    .symbolsMobileV{
        visibility: hidden;
        display: none;
    }
    .symbolsContainer{
        height: 30vh !important;
        width: 140px !important;
    } 
}