.btnRutas:hover{
  background-color: #f7c247;
}
.iconCloseM{
  margin-left: 88%;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  cursor: pointer;
  position: absolute;
}
.HeaderModal{
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fac039 !important;  
}
.ModalInfo{
  border-radius: 30%;
}
.smileEnru{
  width: auto;
  height: 30px;
  margin-left: 38%;
  position: absolute;
  margin-top: 2% !important;
}
/* .btn{
  white-space: pre-line;
} */
/*  Smartphones Potrait*/
@media only screen and (max-width: 699px) and (max-height: 1024px) and (orientation:portrait){ 
  .navNoSm{
    display: none;
    visibility: hidden;
  }
  .Side>.navbar{
    z-index: 100;
    background-color: #ffffffe5;
    margin-top: 5%;
    padding-bottom: 5%;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
  }
  .containerSymbols{
    position: fixed;
    top: 80%;
    z-index: 100;
    width: 100%;
  }
  .containerSymbolsMobile{
    visibility: hidden;
    display: none;
  }
  .iconSideRoutes{
    height: 45px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    position: absolute;
  }
  .ModalSide{
    width: 70vw;
    height: 100%;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    margin-left: 0% !important;
  }
  .ModalInfo{
    width: 70%;
    margin-top: 20%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .containerRutas{
    display: none;
    visibility: hidden;
  }
  .navSmSide{
    height: 100vh;
    background-color: #FAB719;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none !important;
  }
  .containerRutasSm{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    width: 80%;
    height: 450px !important;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.541);
    overflow-y: auto;
    border-radius: 3%;
    margin-bottom: 20%;
  }
    .containerRutasSm::-webkit-scrollbar {
      width: 12px;
    }
      .containerRutasSm::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 10px;
      }
      .containerMap{
        position: static;
        margin-top: 0% !important;
        margin-bottom: 0% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        z-index: 0;
        width: 100vw !important; 
        height: 100% !important;
      }
      .containerMap > div{
        width: 100% !important; 
        height: 105% !important; 
        position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;
      }
  .wrap-collabsible {
    margin: 1.2rem 0; 
  }
  .lbl-toggle {
     display: block; 
     font-weight: bold; 
     font-family: monospace; 
     font-size: 1.2rem; 
     text-transform: uppercase; 
     text-align: center; 
     padding: 1rem; 
     color: #DDD; 
     background: #0069ff; 
     cursor: pointer; 
     border-radius: 7px; 
     transition: all 0.25s ease-out; 
   } 
    .lbl-toggle:hover { 
      color: #FFF; 
    } 
     .lbl-toggle::before { 
      content: ' '; 
      display: inline-block; 
      border-top: 5px solid transparent; 
      border-bottom: 5px solid transparent; 
      border-left: 5px solid currentColor; 
      vertical-align: middle; 
      margin-right: .7rem; 
      transform: translateY(-2px); 
      transition: transform .2s ease-out; 
      } 
  .toggle:checked+.lbl-toggle::before { 
      transform: rotate(90deg) translateX(-3px); 
  } 
  .collapsible-content { 
      max-height: 0px; 
      overflow: hidden; 
      transition: max-height .25s ease-in-out; 
  } 
  .toggle:checked + .lbl-toggle + .collapsible-content { 
      max-height: 100px; 
  } 
    .toggle:checked+.lbl-toggle { 
        border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0; 
    } 
  .collapsible-content .content-inner { 
      background: rgba(0, 105, 255, .2); 
      border-bottom: 1px solid rgba(0, 105, 255, .45); 
      border-bottom-left-radius: 7px; 
      border-bottom-right-radius: 7px; 
      padding: .5rem 1rem; 
  }  
    .collapsible-content p { 
        margin-bottom: 0; 
      }
  .containerB{
    display: none;
    visibility: hidden;
    }
    .containerBM{
      position: static;
      width: 100%;
      top: 95vh;
      }
    .containerB2{
      visibility: hidden;
      display: none;
      } 
    .btnZoom{
      float: right;
      margin-right: 15px !important;
      margin-top: 20px !important
    }
    .btnBright{
      float: right !important;
      margin-right: -40px !important;
      margin-top: 70px !important;
    }
  }
/*  Smartphones landscape*/
@media only screen and (min-width: 321px) and (max-width: 1024px) and (max-height: 699px) and (orientation:landscape){
  .navSm{
    display: none;
    visibility: hidden;
  }
  .navSmSide{
    display: none;
    visibility: hidden;
  }
  .ModalSide{
    display: none;
    visibility: hidden;
  }
  .containerRutasSm{
    display: none;
    visibility: hidden;
  }
  .containerSymbols{
    visibility: hidden;
    display: none;
  }
  .containerSymbolsMobile{
    position: absolute;
    float: right;
    border: none;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .ModalInfo{
    width: 40%;
  }
  .Side{
    display: flex;
  }
  .Side>.nav{     
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      white-space: pre-line;
    }
    .containerRutas{
      margin-top: 15%;
      margin-bottom: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 240px;
      background-color: rgba(255, 255, 255, 0.541);
      overflow-y: auto;
      padding: 5%;
      border-radius: 5%;
    }
    .containerRutas>h6>b{
      font-size: 0.8rem;
    }
    .containerRutas>button{
      font-size: 0.9rem;
    }
    .containerRutas::-webkit-scrollbar {
      width: 12px;
    }
      .containerRutas::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 10px;
      }
      .containerMap > div{
        width: 70vw !important; 
        height: 130vh !important; 
        position: static;
      }
    .wrap-collabsible {
      margin: 1.2rem 0; 
    } 
    .lbl-toggle {
       display: block; 
       font-weight: bold; 
       font-family: monospace; 
       font-size: 1.2rem; 
       text-transform: uppercase; 
       text-align: center; 
       padding: 1rem; 
       color: #DDD; 
       background: #0069ff; 
       cursor: pointer; 
       border-radius: 7px; 
       transition: all 0.25s ease-out; 
     } 
      .lbl-toggle:hover { 
        color: #FFF; 
      } 
       .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
        } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 100px; 
    } 
      .toggle:checked+.lbl-toggle { 
          border-bottom-right-radius: 0; 
          border-bottom-left-radius: 0; 
      } 
    .collapsible-content .content-inner { 
        background: rgba(0, 105, 255, .2); 
        border-bottom: 1px solid rgba(0, 105, 255, .45); 
        border-bottom-left-radius: 7px; 
        border-bottom-right-radius: 7px; 
        padding: .5rem 1rem; 
    } 
      .collapsible-content p { 
          margin-bottom: 0; 
      }
      .containerB{
        position: relative;
        width: 100%;
        top: 100%;
        }
        .containerBM{
          visibility: hidden;
          display: none;
        }
        .containerB2{
          visibility: hidden;
          display: none;
          } 
      .btnZoom{
        margin-left: 10px !important;
        margin-top: 10px !important;
      }
      .btnBright{
        margin-left: -40px !important;
        margin-top: 65px !important;
      }
}
/* Desktop */
@media only screen and (min-width: 961px) and (orientation:landscape){
  .navSm{
    display: none;
    visibility: hidden;
  }
  .navSmSide{
    display: none;
    visibility: hidden;
  }
  .ModalSide{
    display: none;
    visibility: hidden;
  }
  .containerRutasSm{
    display: none;
    visibility: hidden;
  }
  .containerSymbolsMobile{
    display: none;
    visibility: hidden;
  }
  .containerSymbols{
    width: 200px;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .ModalInfo{
    width: 30%;
  }
  .Side{
    display: flex;
  }
  .Side>.nav{     
      width: 22%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      white-space: pre-line;
    }
    .containerRutas{
      margin-top: 15%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: 60%;
      background-color: rgba(255, 255, 255, 0.541);
      overflow-y: auto;
      padding: 5%;
      border-radius: 5%;
    }
    .containerRutas::-webkit-scrollbar {
      width: 12px;
    }
      .containerRutas::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 10px;
      }
    .containerMap > div{
      width: 78% !important; 
      position: static;
    }
    .wrap-collabsible {
      margin: 1.2rem 0; 
    } 
    .lbl-toggle {
       display: block; 
       font-weight: bold; 
       font-family: monospace; 
       font-size: 1.2rem; 
       text-transform: uppercase; 
       text-align: center; 
       padding: 1rem; 
       color: #DDD; 
       background: #0069ff; 
       cursor: pointer; 
       border-radius: 7px; 
       transition: all 0.25s ease-out; 
     } 
      .lbl-toggle:hover { 
        color: #FFF; 
      } 
       .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
        } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 100px; 
    } 
      .toggle:checked+.lbl-toggle { 
          border-bottom-right-radius: 0; 
          border-bottom-left-radius: 0; 
      } 
    .collapsible-content .content-inner { 
        background: rgba(0, 105, 255, .2); 
        border-bottom: 1px solid rgba(0, 105, 255, .45); 
        border-bottom-left-radius: 7px; 
        border-bottom-right-radius: 7px; 
        padding: .5rem 1rem; 
    } 
      .collapsible-content p { 
          margin-bottom: 0; 
      }
      .containerB{
        position: absolute;
        width: 100%;
        top: 90%;
        }
        .containerBM{
          visibility: hidden;
          display: none;
        }
        .containerB2{
          visibility: hidden;
          display: none;
          } 
      .btnZoom{
        margin-left: 10px !important;
        margin-top: 10px !important
      }
      .btnBright{
        margin-left: 10px !important;
        margin-top: 10px !important
      }
}
/* iPads Landscape*/
@media only screen and (min-width: 768px) and (max-width:1024px) and (max-height:1024px)  and (min-height: 768px) and (orientation:landscape) {
  .navSm{
    display: none;
    visibility: hidden;
  }
  .navSmSide{
    display: none;
    visibility: hidden;
  }
  .ModalSide{
    display: none;
    visibility: hidden;
  }
  .containerRutasSm{
    display: none;
    visibility: hidden;
  }
  .containerSymbols{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .containerSymbolsMobile{
    visibility: hidden;
    display: none;
  }
  .ModalInfo{
    width: 40%;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 30%;
  }
  .Side{
    display: flex;
  }
  .Side>.nav{     
      width: 30%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      white-space: pre-line;
    }
    .containerRutas{
      margin-top: 15%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: 60%;
      background-color: rgba(255, 255, 255, 0.541);
      overflow-y: auto;
      padding: 5%;
      border-radius: 5%;
    }
    .containerRutas::-webkit-scrollbar {
      width: 12px;
    }
      .containerRutas::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 10px;
      }
    .containerMap > div{
      width: 70% !important; 
      position: static;
    }
    .wrap-collabsible {
      margin: 1.2rem 0; 
    } 
    .lbl-toggle {
       display: block; 
       font-weight: bold; 
       font-family: monospace; 
       font-size: 1.2rem; 
       text-transform: uppercase; 
       text-align: center; 
       padding: 1rem; 
       color: #DDD; 
       background: #0069ff; 
       cursor: pointer; 
       border-radius: 7px; 
       transition: all 0.25s ease-out; 
     } 
      .lbl-toggle:hover { 
        color: #FFF; 
      } 
       .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
        } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 100px; 
    } 
      .toggle:checked+.lbl-toggle { 
          border-bottom-right-radius: 0; 
          border-bottom-left-radius: 0; 
      } 
    .collapsible-content .content-inner { 
        background: rgba(0, 105, 255, .2); 
        border-bottom: 1px solid rgba(0, 105, 255, .45); 
        border-bottom-left-radius: 7px; 
        border-bottom-right-radius: 7px; 
        padding: .5rem 1rem; 
    } 
      .collapsible-content p { 
          margin-bottom: 0; 
      }
      .containerB{
        position: absolute;
        width: 100%;
        top: 90%;
        }
        .containerBM{
          visibility: hidden;
          display: none;
        }
        .containerB2{
          visibility: hidden;
          display: none;
          } 
    .btnZoom{
      margin-left: 10px !important;
      margin-top: 10px !important;
    }
    .btnBright{
      margin-left: 10px !important;
      margin-top: 10px !important;
    }
}
/* iPads Potrait*/
@media only screen and (min-width: 768px) and (max-width:1366px) and (max-height:1400px) and (min-height:1024px) and (orientation:portrait) {
  .navSm{
    display: none;
    visibility: hidden;
  }
  .navSmSide{
    display: none;
    visibility: hidden;
  }
  .ModalSide{
    display: none;
    visibility: hidden;
  }
  .containerRutasSm{
    display: none;
    visibility: hidden;
  }
  .containerSymbols{
    visibility: hidden;
    display: none;
  }
  .containerSymbolsMobile{
    position: absolute;
    float: right;
    border: none;
    top: 45%;
    right: 5%;
    z-index: 100;
  }
  .ModalInfo{
    width: 40%;
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;
  }
  .Side>.nav{     
    width: 100%;
    display: flex;
    align-items: center;
  }
  .containerRutas{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    width: 70%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.541);
    overflow-y: auto;
    border-radius: 5%;
    margin-bottom: 20px;
  }
    .containerRutas::-webkit-scrollbar {
      width: 12px;
    }
      .containerRutas::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 10px;
      }
  .containerMap{
    width: 100%;
  }
  .containerMap > div{
    width: 90% !important; 
    height: 45% !important; 
    margin-right: 5%;
    margin-left: 5%;
  }
  .wrap-collabsible {
    margin: 1.2rem 0; 
  }
  .lbl-toggle {
     display: block; 
     font-weight: bold; 
     font-family: monospace; 
     font-size: 1.2rem; 
     text-transform: uppercase; 
     text-align: center; 
     padding: 1rem; 
     color: #DDD; 
     background: #0069ff; 
     cursor: pointer; 
     border-radius: 7px; 
     transition: all 0.25s ease-out; 
   } 
    .lbl-toggle:hover { 
      color: #FFF; 
    } 
     .lbl-toggle::before { 
      content: ' '; 
      display: inline-block; 
      border-top: 5px solid transparent; 
      border-bottom: 5px solid transparent; 
      border-left: 5px solid currentColor; 
      vertical-align: middle; 
      margin-right: .7rem; 
      transform: translateY(-2px); 
      transition: transform .2s ease-out; 
      } 
  .toggle:checked+.lbl-toggle::before { 
      transform: rotate(90deg) translateX(-3px); 
  } 
  .collapsible-content { 
      max-height: 0px; 
      overflow: hidden; 
      transition: max-height .25s ease-in-out; 
  } 
  .toggle:checked + .lbl-toggle + .collapsible-content { 
      max-height: 100px; 
  } 
    .toggle:checked+.lbl-toggle { 
        border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0; 
    } 
  .collapsible-content .content-inner { 
      background: rgba(0, 105, 255, .2); 
      border-bottom: 1px solid rgba(0, 105, 255, .45); 
      border-bottom-left-radius: 7px; 
      border-bottom-right-radius: 7px; 
      padding: .5rem 1rem; 
  } 
    .collapsible-content p { 
        margin-bottom: 0; 
    }
    .containerB{
      position: absolute;
      width: 100%;
      top: 95%;
      }
      .containerBM{
        visibility: hidden;
        display: none;
      }
      .containerB2{
        visibility: hidden;
        display: none;
        } 
  .btnZoom{
    margin-left: 6% !important;
    margin-top: 1% !important;
  }
  .btnBright{
    margin-left: 1% !important;
    margin-top: 1% !important;
  }
}