
@media only screen and (max-width: 600px){
    .Side>.nav{     
      width: 100%;
      height: 60vh;
      display: flex;
      align-items: center;
    }
    .containerRutas{
      margin-top: 8%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      width: 80%;
      height: 40vh;
      background-color: rgba(255, 255, 255, 0.541);
      overflow-y: auto;
    }
    .btn{
      white-space: pre-line;
    }
      .containerRutas::-webkit-scrollbar {
        width: 12px;
      }
        .containerRutas::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.534);
          border-radius: 4px;
        }
    .containerMap{
      width: 100%;
    }
    .containerMap > div{
      width: 100% !important; 
      height: 50% !important; 
    }
    .wrap-collabsible {
      margin: 1.2rem 0; 
    } 

    .lbl-toggle {
       display: block; 
       font-weight: bold; 
       font-family: monospace; 
       font-size: 1.2rem; 
       text-transform: uppercase; 
       text-align: center; 
       padding: 1rem; 
       color: #DDD; 
       background: #0069ff; 
       cursor: pointer; 
       border-radius: 7px; 
       transition: all 0.25s ease-out; 
     } 
  
      .lbl-toggle:hover { 
        color: #FFF; 
      } 
  
       .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
        } 
  
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
  
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
  
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 100px; 
    } 
  
      .toggle:checked+.lbl-toggle { 
          border-bottom-right-radius: 0; 
          border-bottom-left-radius: 0; 
      } 
  
    .collapsible-content .content-inner { 
        background: rgba(0, 105, 255, .2); 
        border-bottom: 1px solid rgba(0, 105, 255, .45); 
        border-bottom-left-radius: 7px; 
        border-bottom-right-radius: 7px; 
        padding: .5rem 1rem; 
    } 
      
      .collapsible-content p { 
          margin-bottom: 0; 
      }
  
   .containerB{
    position: absolute;
    width: 100%;
    top: 100%;
  }

}
  
  @media only screen and (min-width: 700px){
    .Side{
      display: flex;
    }
    .Side>.nav{     
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .containerRutas{
        margin-top: 10%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 60%;
        background-color: rgba(255, 255, 255, 0.541);
        overflow-y: auto;
        padding: 5%;
      }
      .btn{
        white-space: pre-line;
      }
      .containerRutas::-webkit-scrollbar {
        width: 12px;
      }
        .containerRutas::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.534);
          border-radius: 4px;
        }
      .containerMap > div{
        width: 80% !important; 
        position: static;
      }
      .wrap-collabsible {
        margin: 1.2rem 0; 
      } 

      .lbl-toggle {
         display: block; 
         font-weight: bold; 
         font-family: monospace; 
         font-size: 1.2rem; 
         text-transform: uppercase; 
         text-align: center; 
         padding: 1rem; 
         color: #DDD; 
         background: #0069ff; 
         cursor: pointer; 
         border-radius: 7px; 
         transition: all 0.25s ease-out; 
       } 
    
        .lbl-toggle:hover { 
          color: #FFF; 
        } 
    
         .lbl-toggle::before { 
          content: ' '; 
          display: inline-block; 
          border-top: 5px solid transparent; 
          border-bottom: 5px solid transparent; 
          border-left: 5px solid currentColor; 
          vertical-align: middle; 
          margin-right: .7rem; 
          transform: translateY(-2px); 
          transition: transform .2s ease-out; 
          } 
    
      .toggle:checked+.lbl-toggle::before { 
          transform: rotate(90deg) translateX(-3px); 
      } 
    
      .collapsible-content { 
          max-height: 0px; 
          overflow: hidden; 
          transition: max-height .25s ease-in-out; 
      } 
    
      .toggle:checked + .lbl-toggle + .collapsible-content { 
          max-height: 100px; 
      } 
    
        .toggle:checked+.lbl-toggle { 
            border-bottom-right-radius: 0; 
            border-bottom-left-radius: 0; 
        } 
    
      .collapsible-content .content-inner { 
          background: rgba(0, 105, 255, .2); 
          border-bottom: 1px solid rgba(0, 105, 255, .45); 
          border-bottom-left-radius: 7px; 
          border-bottom-right-radius: 7px; 
          padding: .5rem 1rem; 
      } 
        
        .collapsible-content p { 
            margin-bottom: 0; 
        }
    
     .containerB{
      width: 100%;
      margin: auto;
      }
  }

  .nav{
    background-color: #FAB719;
  }