/*  Smartphones Potrait*/
@media only screen and (max-width: 699px) and (max-height: 1024px) and (orientation:portrait){
    .containerButtons{
        margin-top: 10%;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .containerButtons>a{
        position: flex;
        margin: auto;
    }
    .camion{
        width: auto;
        height: 40px;
    }
    .playStore{
        width: auto;
        height: 30px;
    }
    .appleStore{
        width: auto;
        height: 25px;
    }
}
/*  Smartphones landscape*/
@media only screen and (min-width: 321px) and (max-width: 1024px) and (max-height: 699px) and (orientation:landscape){
    .containerButtons{
        display: block;
        position: static;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .camion{
        width: auto;
        height: 30px !important;
    }
    .playStore{
        width: auto;
        height: 23px !important;
    }
    .appleStore{
        width: auto;
        height: 20px !important;
    }
}
/* Desktop */
@media only screen and (min-width: 961px) and (orientation:landscape){
    .containerButtons{
        display: block;
        position: static;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .camion{
        width: auto;
        height: 40px;
        cursor: pointer;
    }
    .playStore{
        width: auto;
        height: 35px;
        cursor: pointer;
    }
    .appleStore{
        width: auto;
        height: 30px;
        cursor: pointer;
    }
}
/* iPads Landscape*/
@media only screen and (min-width: 768px) and (max-width:1024px) and (max-height:1024px)  and (min-height: 768px) and (orientation:landscape) {
    .containerButtons{
        display: block;
        position: static;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .camion{
        width: auto;
        height: 40px;
        cursor: pointer;
    }
    .playStore{
        width: auto;
        height: 35px;
        cursor: pointer;
    }
    .appleStore{
        width: auto;
        height: 30px;
        cursor: pointer;
    }
}
  /* iPads Potrait*/
@media only screen and (min-width: 768px) and (max-width:1366px) and (max-height:1400px) and (min-height:1024px) and (orientation:portrait) {
    .containerButtons{
        margin-top: 20%;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .containerButtons>a{
        position: flex;
        margin: auto;
    }
    .camion{
        width: auto;
        height: 50px;
    }
    .playStore{
        width: auto;
        height: 40px;
    }
    .appleStore{
        width: auto;
        height: 35px;
    }
}
