.bannerModal{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

@media only screen and (max-width: 600px){
    .MadalBa{
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
  
  @media only screen and (min-width: 700px){
    .iconClose{
        cursor: pointer;
    }
  }
