@media only screen and (max-width: 600px){
    .containerBotones{
        margin-top: 30%;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .containerBotones>a{
        position: flex;
        margin: auto;
    }
    .camion{
        width: auto;
        height: 50px;

    }
    .playStore{
        width: auto;
        height: 40px;
    }
    .appleStore{
        width: auto;
        height: 35px;
    }
}
  
  @media only screen and (min-width: 700px){
    .containerBotones{
        display: block;
        position: static;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        text-align: center;
    }
   
    .camion{
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-right: 2%;
    }
    .playStore{
        width: 90px;
        height: 40px;
        cursor: pointer;
    }
    .appleStore{
        width: 90px;
        height: 35px;
        cursor: pointer;
    }
  }
