.MuiButton-contained{
    background-color:#fab719 !important;
  }
    .MuiButton-contained:hover{
      background-color:#247dd0 !important;
    }
      .MuiButton-root{
        background-color:#fab719 !important;
        margin-top: 60px;
      }
        .MuiButton-root:hover{
          background-color:#247dd0 !important;
        }
  @media only screen and (orientation: portrait){
    .escaneador{
      align-content: center !important;
      margin-left: auto;
      margin-right: auto;
      text-align: center;    
      margin-bottom: 0% !important;
    }
    .lector {
      align-content: center !important;
      align-items: center !important;
      background: #fab719;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
    .text{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  .ciudad{
    background-image: url('../../assets/img/ciudad.png');
    background-repeat: repeat-x;
    background-position: 0px 100%;
    position: absolute; 
    bottom: 0%;
    width: 100%;
    height: 25vh !important;	
    animation-name: ciudad;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .camionAnimated2{ 
    width: 75px; 
    height: 42px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    text-align: center;
  }
    .camionAnimated2 .marco{ 
      background-image: url('../../assets/img/enrutateCamionLateralCh.png');
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 2;
      position: relative;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 1024px) and (max-height: 699px) and (orientation: landscape){
   .body{
     height: 200%;
     width: 100%;
   }
    .escaneador{
      align-content: center !important;
      margin-left: auto;
      margin-right: auto;
      text-align: center;    
      margin-bottom: 0% !important;
    }
    .lector {
      align-content: center !important;
      align-items: center !important;
      background: #fab719;
      display: flex;
      justify-content: center;
      padding-bottom: 30px !important;
    }
    .text{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  .ciudad{
    background-image: url('../../assets/img/ciudad.png');
    background-repeat: repeat-x;
    background-position: 0px 100%;
    position: absolute; 
    top: 190%;
    width: 100%;
    height: 25vh !important;	
    animation-name: ciudad;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .camionAnimated2{ 
    width: 75px; 
    height: 42px;
    position: absolute;
    bottom: 1%;
    top: 200%;
    left: 50%;
    text-align: center;
  }
    .camionAnimated2 .marco{ 
      background-image: url('../../assets/img/enrutateCamionLateralCh.png');
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 2;
      position: relative;
    }
  }
  @media only screen and (orientation: landscape){
    .escaneador{
      align-content: center !important;
      margin-left: auto;
      margin-right: auto;
      text-align: center;    
      margin-bottom: 0% !important;
    }
    .lector {
      align-content: center !important;
      align-items: center !important;
      background: #fab719;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
    .text{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  .ciudad{
    background-image: url('../../assets/img/ciudad.png');
    background-repeat: repeat-x;
    background-position: 0px 100%;
    position: absolute; 
    bottom: 0%;
    width: 100%;
    height: 23vh !important;	
    animation-name: ciudad;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .camionAnimated2{ 
    width: 75px; 
    height: 42px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    text-align: center;
  }
    .camionAnimated2 .marco{ 
      background-image: url('../../assets/img/enrutateCamionLateralCh.png');
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 2;
      position: relative;
    }
  }
@keyframes ciudad{
	from{ background-position: 0 100%; }
	to{ background-position: 100% 100%; }
}
